.carousel img {
    max-height: 85vh;
    object-fit: cover;
}

#photo1 {
    object-position: bottom;

}

body {
    background-color: gray;
}

.producto-container {
    margin-top: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.eliminar-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.eliminar-btn:hover {
    background-color: #c82333;
}
 