<!-- cargar base.html -->
{% extends 'base.html' %}
{% load static %}

<!-- nav -->
{% block nav %}
<a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
<a class="nav-link" href="{% url 'usuario' %}">Cargar cliente</a>
<a class="nav-link" href="{% url 'producto' %}">Cargar producto</a>
<a class="nav-link" href="{% url 'experiencia' %}">Tu experiencia</a>
{% endblock %}


{% block section %}
<h1>Gracias por participar!</h1>
<a href="{%url 'index'%}">Volver al inicio</a>
{% endblock section %}