<!-- cargar base.html -->
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Editar experiencia</title>
{% endblock title %}

<!-- section -->
{% block section %}
    {% if formulario.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Revisa los datos ingresados.
        </div>
    {% endif %}

    <form action="" method="post" class="my-form">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ formulario.as_p }}
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock section %}
